/** HEADER **/

.logo{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background: linear-gradient(to bottom, #d7d7d7, #ffffff);
}

.logoBox{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.logo img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

/** BODY **/

.conteiner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48.5em;
    justify-content: center;
    align-items: center;
}

.headerBox{
    display: flex;
    justify-content: center;
}

.headerBox span{
    font-size: xx-large;
}

.box{
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box input{
    width: 25em;
    height: 3em;
    margin-bottom: 5%;
    padding-left: 2%;
    border-radius: 2%;
    border: 1px black solid;
}

.botaoCadastrar{
    align-items: center;
    justify-content: center;
    padding: 1%;
}